<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">




<!--  配置sessionFactory 
  --> 

	
	<bean id="UserDao" class="edu.nju.onlinestock.dao.impl.UserDaoImpl">

	</bean>
	<bean id="UserService" class="edu.nju.onlinestock.service.impl.UserServiceImpl">
		<property name="UserDao">
			<ref bean="UserDao"/>
		</property>
	</bean>		
		<bean id="UserAction" class="edu.nju.onlinestock.action.UserAction">
		<property name="UserService">
			<ref bean="UserService"/>
		</property>
	</bean>	
</beans>
